
<style type="text/css">

.photo_main {position: relative;}
.photo_main_up{ position: absolute; left: 0; bottom:0; 
                font-size: 1.83em;
                margin-bottom:5px;              
 }
</style>


<!-- sdfadsfadf -->
<div class="col-md-1">  </div>
<div class="col-md-10">  
      <div class="row">
        <% @posts.each do |item| %>
          <div class="col-md-3 col-md-offset-0 col-sm-12 col-xs-12 col-xs-offset-0">
          
            <a href="/home/detail/<%=item.id%>">
              <div>
                <%if item.my_image.url==nil%>
                  <img style="border-radius: 20px;" width=400 height=400 src="/image/sample.png"/>
                <% else %> 
                  <div class="photo_main">
                      <img style="border-radius: 10px; "width=400 height=400 src="<%=item.my_image.url(:thumb)%>"/>   
                          <div class='photo_main_up'>
        
                                       <div class="col-lg-12">
                                                <a href="#" class="btn   btn-primary">  
                                                    <%if item.store_info == "CU"%>
                                                        CU
                                                    <%elsif item.store_info == "GS25"%>
                                                        GS25
                                                    <%elsif item.store_info == "seveneleven"%>
                                                        세븐일레븐
                                                    <%else%>
                                                        기타
                                                    <%end%>
                                                </a>
                                                
                                                <a href="#" class="btn   btn-success">  
                                                    <%if item.prefer_time == "morning"%>
                                                        아침
                                                    <%elsif item.prefer_time == "lunch"%>
                                                        점심
                                                    <%elsif item.prefer_time == "dinner"%>
                                                        저녁/야식
                                                    <%else%>
                                                        ?????
                                                    <%end%>
                                                </a>
                                                
                                                <a href="#" class="btn   btn-warning"><font color=white>
                                                <%if item.price.length >= 4%>
                                                    <%=item.price.insert(1, ',') %>
                                                <%else%>
                                                    <%=item.price%>
                                                <%end%>
                                                원</font></a>
                                                
                                                <a href="#" class="btn   btn-info"><%=item.kcal%>kcal</a>
                                     </div>
                                     
                                    
                                    
                                    </div>
                      
                     
                  </div>
                <% end %>
                
                <div style="padding-bottom: 0px;">
              
                  <!-- title -->
                  <% unless item.post_title.length > 14 %>
                    <h2 style="font-weight: 800; color:#DD4814;letter-spacing: 0px;"><%= item.post_title %></h2>
                  <% else %>
                    <h2 style="font-weight: 800; color:#DD4814;letter-spacing: 0px;"><%= item.post_title.first(13)+"..." %></h2>
                  <% end %>
                  
                  <!-- content -->
                  <div style="width:100%;height:20px">
                      <h4 style="word-spacing: -1px; font-weight: 400; letter-spacing: 0px; color: black;font-size:100%" >
                          <% if item.post_content.length > 50 %>
                              <%= item.post_content.first(50)%>..<a href="/home/detail/<%=item.id%>"><font color="#DD4814">더 읽기</font></a>
                          <%else%>
                             <%= item.post_content%>
                          <%end%>
                  </h4>
                  </div>
                  <div style="margin-top: 1px solid white;"></div>
                  <div style="font-weight: 700; color: *8E8E8E; margin-bottom: 1px solid black;">  
                         <div style="width:100%;height:20px"></div>
                   </div>
               
                   <!--Like -->
                  <div> 
               
                    <div align="center">
                      &nbsp;<span style="font-size: 15px; padding-top: 10px; font-weight: 800;"><%= item.like %>&nbsp; </span>
                    </div>
                  </div>
                  
                </div> <!-- caption ends here-->
                
              </div>
            </a>
          </div>
         <% end %>
      </div>
    </div>
    
    <div class="col-md-1"> </div>

<div style="height:5px"></div> <!-- 여백 -->  

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <!-- Buttons --> 
    <center>
    <a href="/home/write" class="btn btn-primary" role="button">글쓰기</a>
    </center>
    </div>
    <div class="col-md-4"></div>
</div>

<div style="height:100px;"></div> <!-- footer 여백 -->




<!-- bootstrap theme from bootswatch! -->


