

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>freeboard</h1>
        <div class="row">
            <div class="col-md-1"><strong>No.</strong></div>
            <div class="col-md-9"><strong>Subject</strong></div>
            <div class="col-md-1"><strong>Name</strong></div>
            <div class="col-md-1"><strong>Date</strong></div>
        </div>

    <% @posts.each do |item| %>
        <div class="row">
            <div class="col-md-1"><%=item.id%></div>
            <div class="col-md-9"><a href="/freeboard/detail/<%=item.id%>"><%=item.post_title%></a></div>
            <div class="col-md-1"><%=item.post_name%></div>
            <div class="col-md-1"><%=item.created_at.in_time_zone("Seoul").strftime("%y/%m/%d %I:%M%p")%></div>
        </div>
    <% end %>
    
    <div class="row" style="height:60px;">
        <center>  <a href="/freeboard/write" class="btn btn-primary" role="button">글쓰기</a></center>
    </div>
        
    </div>
    <div class="col-md-2"></div>
</div>