<!DOCTYPE html>
<html>
<head>
  <title>편의점의 법칙 - 편법</title>
  
  <!-- 배민 폰트 -->
  <link href="http://cdn.rawgit.com/singihae/Webfonts/master/style.css" rel="stylesheet" type="text/css" />
  
  <style type="text/css">
  .jua {font-family:'BM JUA','배달의민족 주아';}
  .hana{font-family:'BM HANNA','배달의민족 한나'; }
</style>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://cvs-ev-shnoah-1.c9.io/css/bootstrap.min.css">


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "/home/navbar" %>

<%= yield %>


<%= render :partial => "/home/bottom" %>

</body>
</html>
